
@{
    ViewBag.Title = "Página Inicial";
}
<ol class="breadcrumb">
    <!--
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
    -->
    <li><em>Você está aqui:</em><li class="active">Home</li>
</ol>

<div class="pagina-conteudo">
    <h2>Página Inicial</h2>
</div>

